.parent {
    width: 80%;
    height: 80vh;
    position: relative;
}
    .parent h1 {
        margin: 0;
        font-family: 'Train One', cursive;
        letter-spacing: 4px;
        font-weight: 100;
    }

.parent-content {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
}

    .box {
        max-width: 330px;
        height: 330px;
        position: relative;
        margin-top: 50px;
        margin-left: 16px;
    }
    .box-children {
        background-color: white;
        
        /* width: auto;
        height: auto; */
    }
    .grid-square {
        float: left;
        height: 30px;
        width: 30px;
    }
        .grid-square:nth-child(odd) {
            background-color: rgba(0, 140, 0, 0);
        }
        .grid-square:nth-child(even) {
            background-color: rgba(255, 255, 255, 0.35);
        }


        .top-numbers {
            display: flex;
            position: absolute;
            top: -14px;
        }
            .top-numbers > .box-number {
                width: 30px;
                font-size: 12px;
                line-height: 12px;
            }

        .left-numbers {
            display: block;
            position: absolute;
            left: -16px
        }
            .left-numbers > .box-number {
                width: 12px;
                font-size: 12px;
                line-height: 30px;
                height: 30px;
                padding: 0;
                margin: 0;
            }


            .item {
                position: absolute;
                top: 30px;
                left: 30px;
                margin: 2px;
            }
            .basket {
                position: absolute;
                bottom: 30px;
                right: 0;
                height: 60px;
                width: 60px;
                /* background-color: yellow; */
                /* margin: 2px; */
            }

            .item img {
                height: 25px;
            }
            .basket img {
                height: 60px;
                width: 60px;
            }

            .controller-box {
                border: 1px solid rgba(255, 255, 255, 0.35);
                width: 300px;
                height: 300px;
                display: grid;
                grid-template-columns: 1fr 1fr;
            }


            .score {
                height: 100%;
                width: 150px;
                margin-top: 80px;
                font-family: 'Train One', cursive;
            }
            .score p {
                margin: 0;
            }

            .controller-block {
                display: flex;
                justify-content: center;
                align-items: center;
            }


            .rangeslider-vertical {
                height: 200px !important;
            }
            .rangeslider__labels {
                width: auto !important;
                margin-left: 15px !important;
                line-height: 20px;
            }

            .rangeslider-vertical .rangeslider__labels .rangeslider__label-item::before {
                height: 1px !important;
                width: 5px !important;
                background-color: white !important;
            }



            .slidet-title {
                margin: 0;
                font-size: 14px;
            }